@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@media (prefers-color-scheme: darkMode) {
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-primary);
}

body {
  font-family: var(--font-secondary);
}

header {
  padding: 0;
}

/* header {
  background-color: ;
} */

nav {
  position: sticky;
  top: 0rem;
  background: transparent;
  overflow: hidden;
  top: 0;
  width: 100%;
  position: fixed;
  /* FIX */
  z-index: 300;
}

/* main {
  height: 100vh;
  background-color: #99d;
}
*/
.table-wrapper {
  overflow-x: scroll;
}
