@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@media (prefers-color-scheme: darkMode) {
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-primary);
}

body {
  font-family: var(--font-secondary);
  overflow-wrap: break-word;
}

header {
  padding: 0;
}

tr,
td {
  word-wrap: break-word;
  word-break: break-word;
  overflow-x: auto;
}

/* header {
  background-color: ;
} */

nav {
  position: sticky;
  top: 0rem;
  background: transparent;
  overflow: hidden;
  top: 0;
  width: 100%;
  position: fixed;
  /* FIX */
  z-index: 300;
}

/* main {
  height: 100vh;
  background-color: #99d;
}
*/
.table-wrapper {
  overflow-x: scroll;
}

.video_container {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}
.video_container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

article {
  justify-content: center;
}
